$main-dark-color: #000000;
$main-light-color: #ffffff;
$main-active-color: #f9804b;
$secondary-active-color: #4b9200;
$main-error-color: #d31414;
$main-correct-color: #4b9200;

$main-dark-bg-color: #000000;
$secondary-dark-bg-color: #111115;
$main-light-bg-color: #fdfdff;
$secondary-light-bg-color: #fdfdff85;
$third-light-bg-color: #ffffff;
$fourth-light-bg-color: #f1f3f2;

$socials-light-bg-color: #c4c4c480;
$amount-dark-bg-color: #404950;
$amount-light-bg-color: #72828e;

$slider-light-bg-color: #f5f7f6;
$slider-thumb-light-bg-color: #fe9013;

$main-light-text-color: #ffffff;
$secondary-light-text-color: #bdbdbd;
$third-light-text-color: #767474;
$main-dark-text-color: #333b41;
$secondary-dark-text-color: #000000;
$main-highlighted-text-color: #ffee2e;
$secondary-highlighted-text-color: #fe9013;

$input-text-color: #929699;

$card-dark-text-color: #000000;
$submit-dark-text-color: #000000;
$input-light-text-color: #bdbdbd;

$main-light-border-color: #ffffff;
$secondary-light-border-color: #fe9013;

$input-dark-border-color: #333b41;
$input-light-border-color: #929699;

$main-button-color: #f9804b;
$secondary-button-color: #fe9013;
$main-active-button-color: #4b9200;

$main-blackout-color: #00000059;

$radio-pin-color: #ffee2e;
$radio-circle-color: #fe9013;
